<a href="https://colab.research.google.com/github/varsha04kshirsagar/LetsUpgrade-AI-ML/blob/master/Day6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q.1 Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of letters
only**

In [7]:
import re
email = input("Enter given Email Address is")
pat2 = "(\w+)@(\w+).(com)"
r2 = re.match(pat2,email)
print (r2.group(2))

Enter given Email Address isvarsha@google.com
google

**Q.2 Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.**

In [12]:
items = [x for x in input("enter data to sort  ").split(',')]
items.sort()
print ("Sorted data are  ",' '.join(items))

enter data to sort  ram,anita,rajeev,madan,radhika,rahul,vinay,jaisingh
Sorted data are   anita jaisingh madan radhika rahul rajeev ram vinay

**Q.3 Create your own Jupyter Notebook for Sets**

In [17]:
my_set = {"apple", "banana", "cherry"}
print(my_set)

for x in my_set:
  print(x)

my_set.add("orange")
print(my_set)  

print(len(my_set))

my_set.discard("banana")
print(my_set)

{'apple', 'cherry', 'banana'}
apple
cherry
banana
{'orange', 'apple', 'cherry', 'banana'}
4
{'orange', 'apple', 'cherry'}

**Q.4 Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.**

In [19]:
def getMissingNo(A): 
    n = len(A) 
    total = (n + 1)*(n + 2)/2
    sum_of_A = sum(A) 
    return total - sum_of_A 
A = [1, 2, 4, 5, 6] 
miss = getMissingNo(A) 
print(miss)

3.0

**Q.5 With a given list L, write a program to print this list L after removing all duplicate values with original order reserved**

In [28]:
def unique(l):
  list_set = set(l)
  unique_list = (list(list_set))
  return unique_list

l = [12, 24, 35, 24, 88, 120, 155, 88 ,120, 155]
uniqe_list = unique(l)
uniqe_list.sort()
list1 = ''.join(str(uniqe_list))
print(uniqe_list)

[12, 24, 35, 88, 120, 155]