In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import statsmodels.api as sm
from sklearn import linear_model

In [3]:
data = pd.read_excel('Linear Regression.xlsx',sheet_name=0)

In [4]:
data

        price  sqft_living  bedrooms  bathrooms  floors
0      221900         1180         3       1.00     1.0
1      538000         2570         3       2.25     2.0
2      180000          770         2       1.00     1.0
3      604000         1960         4       3.00     1.0
4      510000         1680         3       2.00     1.0
...       ...          ...       ...        ...     ...
21608  360000         1530         3       2.50     3.0
21609  400000         2310         4       2.50     2.0
21610  402101         1020         2       0.75     2.0
21611  400000         1600         3       2.50     2.0
21612  325000         1020         2       0.75     2.0

[21613 rows x 5 columns]

In [6]:
df_x = data[['sqft_living','bedrooms','bathrooms','floors']]
df_y = data[['price']]

In [8]:
df_x

       sqft_living  bedrooms  bathrooms  floors
0             1180         3       1.00     1.0
1             2570         3       2.25     2.0
2              770         2       1.00     1.0
3             1960         4       3.00     1.0
4             1680         3       2.00     1.0
...            ...       ...        ...     ...
21608         1530         3       2.50     3.0
21609         2310         4       2.50     2.0
21610         1020         2       0.75     2.0
21611         1600         3       2.50     2.0
21612         1020         2       0.75     2.0

[21613 rows x 4 columns]

In [10]:
df_y

        price
0      221900
1      538000
2      180000
3      604000
4      510000
...       ...
21608  360000
21609  400000
21610  402101
21611  400000
21612  325000

[21613 rows x 1 columns]

In [11]:
#splitting dataset into training and testing dataset
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size = 1/3, random_state = 0)

In [13]:
x_train.size

57632

In [14]:
y_train.size

14408

In [15]:
#with sklearn
regr = linear_model.LinearRegression()
regr.fit(x_train, y_train)
print('Intercept: \n', regr.intercept_)
print('Coefficients: \n', regr.coef_)

Intercept:
 [71317.92981796]
Coefficients:
 [[   300.22555387 -51118.88229941   4146.34756861   5226.69830459]]

In [16]:
# with statsmodels
x = sm.add_constant(x_train) # adding a constant
#predictions = model.predict(x) 
model = sm.OLS(y_train, x).fit()
predictions = model.predict(x) 
print_model = model.summary()
print(print_model)

OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.500
Model:                            OLS   Adj. R-squared:                  0.500
Method:                 Least Squares   F-statistic:                     3605.
Date:                Fri, 07 Aug 2020   Prob (F-statistic):               0.00
Time:                        15:40:41   Log-Likelihood:            -1.9980e+05
No. Observations:               14408   AIC:                         3.996e+05
Df Residuals:                   14403   BIC:                         3.997e+05
Df Model:                           4
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const        7.132e+04   9211.871      7.742      0.000    5.33e+04    8.94e+04
sqft_living   300.2256      3.710     80.922      0.000     292.953     307.498
bedrooms    -5.112e+04   2806.027    -18.218      0.000   -5.66e+04   -4.56e+04
bathrooms    4146.3476   4595.753      0.902      0.367   -4861.920    1.32e+04
floors       5226.6983   4548.332      1.149      0.251   -3688.618    1.41e+04
==============================================================================
Omnibus:                     8504.047   Durbin-Watson:                   2.018
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           177779.400
Skew:                           2.435   Prob(JB):                         0.00
Kurtosis:                      19.505   Cond. No.                     1.03e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.03e+04. This might indicate that there are
strong multicollinearity or other numerical problems.