In [3]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import statsmodels.api as sm
from sklearn import linear_model
import math
import seaborn as sns

In [4]:
data = pd.read_excel('Bank_Personal_Loan_Modelling.xlsx',sheet_name=1)

In [5]:
data.head

<bound method NDFrame.head of         ID  Age  Experience  Income  ZIP Code  Family  CCAvg  Education  \
0        1   25           1      49     91107       4    1.6          1
1        2   45          19      34     90089       3    1.5          1
2        3   39          15      11     94720       1    1.0          1
3        4   35           9     100     94112       1    2.7          2
4        5   35           8      45     91330       4    1.0          2
...    ...  ...         ...     ...       ...     ...    ...        ...
4995  4996   29           3      40     92697       1    1.9          3
4996  4997   30           4      15     92037       4    0.4          1
4997  4998   63          39      24     93023       2    0.3          3
4998  4999   65          40      49     90034       3    0.5          2
4999  5000   28           4      83     92612       3    0.8          1

      Mortgage  Personal Loan  Securities Account  CD Account  Online  \
0            0              0                   1           0       0
1            0              0                   1           0       0
2            0              0                   0           0       0
3            0              0                   0           0       0
4            0              0                   0           0       0
...        ...            ...                 ...         ...     ...
4995         0              0                   0           0       1
4996        85              0                   0           0       1
4997         0              0                   0           0       0
4998         0              0                   0           0       1
4999         0              0                   0           0       1

      CreditCard
0              0
1              0
2              0
3              0
4              1
...          ...
4995           0
4996           0
4997           0
4998           0
4999           1

[5000 rows x 14 columns]>

In [6]:
y = data[['Personal Loan']]

In [7]:
y

      Personal Loan
0                 0
1                 0
2                 0
3                 0
4                 0
...             ...
4995              0
4996              0
4997              0
4998              0
4999              0

[5000 rows x 1 columns]

In [8]:
x = data[['Age','Experience','Income','Family','CCAvg','Education','Mortgage','Securities Account','CD Account','Online','CreditCard']]

In [9]:
x.head

<bound method NDFrame.head of       Age  Experience  Income  Family  CCAvg  Education  Mortgage  \
0      25           1      49       4    1.6          1         0
1      45          19      34       3    1.5          1         0
2      39          15      11       1    1.0          1         0
3      35           9     100       1    2.7          2         0
4      35           8      45       4    1.0          2         0
...   ...         ...     ...     ...    ...        ...       ...
4995   29           3      40       1    1.9          3         0
4996   30           4      15       4    0.4          1        85
4997   63          39      24       2    0.3          3         0
4998   65          40      49       3    0.5          2         0
4999   28           4      83       3    0.8          1         0

      Securities Account  CD Account  Online  CreditCard
0                      1           0       0           0
1                      1           0       0           0
2                      0           0       0           0
3                      0           0       0           0
4                      0           0       0           1
...                  ...         ...     ...         ...
4995                   0           0       1           0
4996                   0           0       1           0
4997                   0           0       0           0
4998                   0           0       1           0
4999                   0           0       1           1

[5000 rows x 11 columns]>

In [10]:
x1 = sm.add_constant(x)

In [11]:
logistic = sm.Logit(y,x1)

In [12]:
result = logistic.fit()

Optimization terminated successfully.
         Current function value: 0.128435
         Iterations 9

In [13]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:          Personal Loan   No. Observations:                 5000
Model:                          Logit   Df Residuals:                     4988
Method:                           MLE   Df Model:                           11
Date:                Sat, 08 Aug 2020   Pseudo R-squ.:                  0.5938
Time:                        00:11:59   Log-Likelihood:                -642.18
converged:                       True   LL-Null:                       -1581.0
Covariance Type:            nonrobust   LLR p-value:                     0.000
======================================================================================
                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
const                -12.1928      1.645     -7.411      0.000     -15.417      -8.968
Age                   -0.0536      0.061     -0.874      0.382      -0.174       0.067
Experience             0.0638      0.061      1.046      0.295      -0.056       0.183
Income                 0.0546      0.003     20.831      0.000       0.049       0.060
Family                 0.6958      0.074      9.364      0.000       0.550       0.841
CCAvg                  0.1240      0.040      3.127      0.002       0.046       0.202
Education              1.7362      0.115     15.088      0.000       1.511       1.962
Mortgage               0.0005      0.001      0.856      0.392      -0.001       0.002
Securities Account    -0.9368      0.286     -3.277      0.001      -1.497      -0.377
CD Account             3.8225      0.324     11.800      0.000       3.188       4.457
Online                -0.6752      0.157     -4.298      0.000      -0.983      -0.367
CreditCard            -1.1197      0.205     -5.462      0.000      -1.522      -0.718
======================================================================================
"""