In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import statsmodels.api as sm
from sklearn import linear_model
import math
import seaborn as sns

In [5]:
data = pd.read_excel('Bank_Personal_Loan_Modelling.xlsx',sheet_name=1)

In [7]:
data.head

<bound method NDFrame.head of         ID  Age  Experience  Income  ZIP Code  Family  CCAvg  Education  \
0        1   25           1      49     91107       4    1.6          1
1        2   45          19      34     90089       3    1.5          1
2        3   39          15      11     94720       1    1.0          1
3        4   35           9     100     94112       1    2.7          2
4        5   35           8      45     91330       4    1.0          2
...    ...  ...         ...     ...       ...     ...    ...        ...
4995  4996   29           3      40     92697       1    1.9          3
4996  4997   30           4      15     92037       4    0.4          1
4997  4998   63          39      24     93023       2    0.3          3
4998  4999   65          40      49     90034       3    0.5          2
4999  5000   28           4      83     92612       3    0.8          1

      Mortgage  Personal Loan  Securities Account  CD Account  Online  \
0            0              0                   1           0       0
1            0              0                   1           0       0
2            0              0                   0           0       0
3            0              0                   0           0       0
4            0              0                   0           0       0
...        ...            ...                 ...         ...     ...
4995         0              0                   0           0       1
4996        85              0                   0           0       1
4997         0              0                   0           0       0
4998         0              0                   0           0       1
4999         0              0                   0           0       1

      CreditCard
0              0
1              0
2              0
3              0
4              1
...          ...
4995           0
4996           0
4997           0
4998           0
4999           1

[5000 rows x 14 columns]>